body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.bulb {
  width: 100px;
  height: 150px;
  background-color: gray;
  border-radius: 50% 50% 40% 40%;
  margin: 0 auto 20px;
  box-shadow: 0 0 20px rgba(255,255,255,0);
  cursor: pointer;
}